In [2]:
import pandas as pd
import numpy as np
import datetime

caminho_arquivo = './fabrica.csv'

base = pd.read_csv(caminho_arquivo, encoding='UTF-8')

df = base.rename(columns={
    'xID_fuNcion�rio': 'id_funcionario',
    'FUNCIONARIO': 'funcionario',
    'nomes_Mai�sculo': 'nomes_maiusculo',
    'ano_nascimento': 'ano_nascimento',
    'Segunda': 'segunda',
    'Ter�a': 'terca',
    'Quarta': 'quarta',
    'Quinta': 'quinta',
    'Sexta': 'sexta'
})


ano_atual = datetime.date.today().year

colunas_lista_producao = ['segunda', 'terca', 'quarta', 'quinta', 'sexta']

df

,xID_fuNcionï¿½rio,funcionario,nomes_Maiï¿½sculo,ano_nascimento,segunda,Terï¿½a,quarta,quinta,sexta
0,1001,Antonia Joana Maria das Dores,ANTONIA JOANA MARIA DAS DORES,1992,10,9,11,12,8
1,1327,Joï¿½o Paulo Magalhï¿½es,JOï¿½O PAULO MAGALHAES,1991,15,12,16,10,11
2,2091,Deusdete Amadeus Maria,DEUSDETE AMADEUS MARIA,1972,11,10,8,11,12
3,3091,Marcos Antï¿½nio Gonï¿½alves,MARCOS ANTONIO GONCALVES,1988,8,12,15,9,11

In [18]:
# 1 - Mostre a tabela apenas com o id_funcionário, idade, média, variância e desvio padrão, daqueles que tem menos de 33 anos;


maior_que_trinta_e_tres = df.copy()

maior_que_trinta_e_tres['idade'] = ano_atual - maior_que_trinta_e_tres['ano_nascimento']

maior_que_trinta_e_tres = maior_que_trinta_e_tres.query('idade < 33')

producao_atual = maior_que_trinta_e_tres[colunas_lista_producao]

maior_que_trinta_e_tres['media'] =  producao_atual.mean(axis=1)

maior_que_trinta_e_tres['variancia'] = producao_atual.var(axis=1)

maior_que_trinta_e_tres['desvio_padrao'] = producao_atual.std(axis=1)

display(maior_que_trinta_e_tres[['id_funcionario','idade', 'media', 'variancia', 'desvio_padrao']])

   id_funcionario  idade  media  variancia  desvio_padrao
0            1001     31   10.0        2.5       1.581139
1            1327     32   12.8        6.7       2.588436

In [28]:
# 2 - Mostre a tabela com o nome do funcionário, média, variância e desvio padrão, daqueles que tem acima de 50 anos;


maior_que_cinquenta = df.copy()

maior_que_cinquenta['idade'] = ano_atual - maior_que_cinquenta['ano_nascimento']

maior_que_cinquenta['nome'] = maior_que_cinquenta['funcionario']

maior_que_cinquenta = maior_que_cinquenta.query('idade > 50')

producao_atual = maior_que_cinquenta[colunas_lista_producao]

maior_que_cinquenta['media'] =  producao_atual.mean(axis=1)

maior_que_cinquenta['variancia'] = producao_atual.var(axis=1)

maior_que_cinquenta['desvio_padrao'] = producao_atual.std(axis=1)

maior_que_cinquenta[['nome', 'media', 'variancia', 'desvio_padrao']]

                     nome  media  variancia  desvio_padrao
2  Deusdete Amadeus Maria   10.4        2.3       1.516575

In [25]:
# 3 Mostre a tabela com o id_funcionário, nome do funcionário, idade, média, variânciae desvio padrão, daqueles que tem 35 anos e que o desvio padrão seja igual a 11;


igual_a_trinta_e_cinco = df.copy()

igual_a_trinta_e_cinco['idade'] = ano_atual - igual_a_trinta_e_cinco['ano_nascimento']

igual_a_trinta_e_cinco['nome'] = igual_a_trinta_e_cinco['funcionario']

producao_atual = igual_a_trinta_e_cinco[colunas_lista_producao]

igual_a_trinta_e_cinco['media'] =  producao_atual.mean(axis=1)

igual_a_trinta_e_cinco['variancia'] = producao_atual.var(axis=1)

igual_a_trinta_e_cinco['desvio_padrao'] = producao_atual.std(axis=1)

igual_a_trinta_e_cinco = igual_a_trinta_e_cinco.query('idade == 35 and variancia == 11')

igual_a_trinta_e_cinco[['nome', 'idade', 'media', 'variancia', 'desvio_padrao']]

Empty DataFrame
Columns: [nome, idade, media, variancia, desvio_padrao]
Index: []

In [62]:
# 4 - Qual dos funcionários apresenta maior taxa de produção média diária? Por quê?
taxa_producao = df.copy()

taxa_producao['media'] = taxa_producao[colunas_lista_producao].mean(axis=1)

taxa_producao['desvio_padrao'] = taxa_producao[colunas_lista_producao].std(axis=1)

taxa_producao['superior'] = taxa_producao['media'] + taxa_producao['desvio_padrao'] 

max_valor = taxa_producao['superior'].max()

taxa_producao = taxa_producao.query('superior == @max_valor')

taxa_producao['funcionario']

1    Jo�o Paulo Magalh�es
Name: funcionario, dtype: object

In [39]:
# 5 - Qual foi o total de produção diária da fábrica?

sum_producao = df.copy()

producao_atual = sum_producao[colunas_lista_producao]

producao_atual = producao_atual.sum()

producao_total = producao_atual.sum()

producao_total

221